[Unit]
Description=Gin server to manage camera with motion
Wants=network.target
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/gincamalarm
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target